<head>
    <meta charset="utf-8">
    <title>{{page_title}}</title>
    <meta name="description" content="{{meta_description}}">
    <meta property="og:image" content="{{og_img}}">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.{{cssVersion}}.css">
    <link rel="icon" id="favicon" type="image/x-icon" href="/favicon.ico?v1">
</head>