.transition-in {
    opacity: 0;
    transform: translateY(3rem);

    .page-is-animatable & {
        transition: opacity .55s cubic-bezier(0, 0, .3, 1),
                    transform .6s cubic-bezier(0, 0, .3, 1);
    }

    &.is-visible {
        opacity: 1;
        transform: translateY(0);
    }
}

.transition-scale-in {
    @extend .transition-in;
    transform: scale(.25) translateY(3rem);

    &.is-visible {
        transform: scale(1) translateY(0);
    }
}