<!doctype html>

<html lang="en" class="{{htmlClass}}">
{{> partial src="head" }}
<body class="{{bodyClass}}">
    {{> partial src="header" }}
    <div id="content-wrapper" role="main">
        {{> partial isPage="true" }}
    </div>
    {{> partial src="footer" }}
    {{> partial src="scripts" }}
    {{> partial src="ga" }}
</body>
</html>