<section class="c-splash-hero">
    <div class="c-splash-hero__video">
        <video autoplay playsinline muted loop>
            <source src="/video/home.mp4" type="video/mp4" />
        </video>
    </div>
    <div class="c-splash-hero__content">
        <h1 class="c-splash-hero__masthead">
            <img srcset="/img/logos/woodbury-group.v1.png, /img/logos/woodbury-group@2.v1.png 2x",
                src="/img/logos/woodbury-group.v1.png"
                width="334" height="152" alt="The Woodbury Group, Strategic Recruiting Partners" />
        </h1>
        <div class="c-spacer c-spacer--short">
            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
        <p>Madison Gunn is now The Woodbury Group.</p>
        <p>The Woodbury Group specializes in retained search and interim executive solutions. We are experts in C-suite talent acquisition for private equity portfolio companies and provide a full range of services for the financial services sector.</p>
        <div class="c-spacer c-spacer--tall">
            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>
    <a class="c-splash-hero__linkedin" href="#" target="_blank" rel="noopener">
        <img srcset="/img/logos/linkedin.v1.png, /img/logos/linkedin@2.v1.png 2x"
            src="/img/logos/linkedin.v1.png" width="80" height="21" alt="LinkedIn" />
    </a>
</section>